<mood-container type="full" wrapperClasses="flex-center flex-column">
  <!-- Start Continue -->
  <section>
    <div>
      <!-- Start Title -->
      <h1 class="pb-4">Login</h1>
      <!-- End Title -->

      <!-- Start Form -->
      <form [formGroup]="form" (ngSubmit)="attemptLogin()">
        <!-- Start Form Fields -->
        <div class="p-fluid">
          <!-- Email -->
          <div class="p-field">
            <div class="flex justify-content-between">
              <label>Email</label>
              <mood-form-validation-msgs
                [control]="form.controls.email"
                [showErrors]="form.showErrors"
              ></mood-form-validation-msgs>
            </div>
            <input
              type="text"
              formControlName="email"
              pInputText
              autocomplete="off"
            />
          </div>

          <!-- Password -->
          <div class="p-field">
            <div class="flex justify-content-between">
              <label>Password</label>
              <mood-form-validation-msgs
                [control]="form.controls.password"
                [showErrors]="form.showErrors"
              ></mood-form-validation-msgs>
            </div>
            <input
              type="password"
              formControlName="password"
              pInputText
              autocomplete="off"
            />
          </div>
        </div>
        <!-- End Form Fields -->

        <!-- Start Form Actions -->
        <div class="flex-center">
          <button
            pButton
            type="submit"
            label="Login"
            [loading]="isSubmitting"
          ></button>
        </div>
        <!-- End Form Actions -->
      </form>
      <!-- Start Form -->
    </div>
  </section>
  <!-- End Continue -->
</mood-container>
