* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
  min-height: 100%;
  font-size: $FONT_SIZE;
}

body {
  font-family: $FONT_PRIMARY;
  color: $TEXT_COLOR;
  background: $BG_COLOR;

  @media (max-width: $LG_BREAKPOINT) {
    font-size: 90%;
  }

  @media (max-width: $MD_BREAKPOINT) {
    font-size: 85%;
  }

  @media (max-width: $SM_BREAKPOINT) {
    font-size: 80%;
  }
}

h1 {
  font-size: 1.8rem;
  font-weight: 400;
  color: $WHITE;
}

textarea {
  resize: none !important;
}

a {
  @include actionable();
  @include color-transition($HIGHLIGHT_COLOR, lighten($HIGHLIGHT_COLOR, 10%));
}

::selection {
  background: $HIGHLIGHT_COLOR;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: $WHITE;
}

::-webkit-scrollbar-thumb {
  background: $DARK_GRAY;
}

::-webkit-scrollbar-thumb:hover {
  background: $HIGHLIGHT_COLOR;
}
