// PRIMENG
// Loaders
.p-progress-spinner-circle {
  stroke: $PRIMARY_COLOR !important;
  z-index: 9999;
}

// Ripple
.p-ink {
  background: transparentize($WHITE, 0.6) !important;
}

// Menus
.p-menu {
  font-family: $FONT_PRIMARY !important;
  color: $TEXT_COLOR !important;
  padding: 0 !important;
  margin-top: 10px;

  border-radius: 10px !important;

  &.p-menu-overlay {
    background-color: $DARK_GRAY_2 !important;
  }

  li {
    &:first-child {
      .p-menuitem-link {
        border-top-left-radius: 10px !important;
        border-top-right-radius: 10px !important;
      }
    }

    &:last-child {
      .p-menuitem-link {
        border-bottom-left-radius: 10px !important;
        border-bottom-right-radius: 10px !important;
      }
    }
  }

  .p-menuitem-link {
    box-shadow: none !important;
    border: none !important;
    transition: 0.2s !important;

    &:hover {
      transition: 0.2s;
      background-color: lighten($DARK_GRAY_2, 5%) !important;

      box-shadow: none !important;
      border: none !important;
    }

    .p-menuitem-text {
      color: $WHITE !important;
    }
  }
}

// Buttons
.p-button {
  background: darken($PRIMARY_COLOR, 15%) !important;
  font-family: $FONT_PRIMARY !important;
  border: 0 !important;
  font-size: 1.15rem !important;
  border-radius: 5px !important;
  outline: none !important;
  border: none !important;
  transition: 0.2s;
  padding: 0.5rem 3rem !important;

  &.w-100 {
    width: 100% !important;
  }

  &:focus {
    outline: 0 !important;
    box-shadow: 0 0 0 0 transparentize($BLACK, 1) !important;
  }

  &:hover {
    background-color: lighten(darken($PRIMARY_COLOR, 15%), 10%) !important;
    transition: 0.2s;
  }

  @media (max-width: 767px) {
    max-width: 90%;
  }
}

// Forms
.ng-submitted {
  .ng-invalid {
    border-bottom: 1px solid $RED !important;
  }
}

.p-field {
  input,
  .p-dropdown,
  .p-inputtextarea {
    border: none;
    border-bottom: 1px solid $LIGHT_GRAY !important;
    color: $TEXT_COLOR !important;
    font-family: $FONT_PRIMARY !important;
    color: $BLACK;
    background-color: transparent;
    padding: 8px;
    height: 40px;
    min-width: 250px;
    outline: none;
    box-shadow: none !important;
    border-radius: 0;
    margin-bottom: 5px;

    &.ng-invalid.ng-touched {
      border-bottom: 1px solid $RED !important;
    }

    &::placeholder {
      color: darken($WHITE, 50%) !important;
    }

    &:focus:not(.ng-invalid.ng-touched),
    &:active:not(.ng-invalid.ng-touched) {
      border-bottom: 1px solid $PRIMARY_COLOR !important;
    }

    @media (max-width: 767px) {
      min-width: 80%;
    }
  }
}

// Toasts
.p-toast {
  .p-toast-message {
    z-index: 11 !important;
    font-family: $FONT_PRIMARY !important;

    &.p-toast-message-success {
      color: $WHITE !important;
      background-color: darken($GREEN, 15%) !important;
      border-left: none !important;
    }

    &.p-toast-message-error {
      color: $WHITE !important;
      background-color: darken($RED, 15%) !important;
      border-left: none !important;
    }

    .p-toast-message-icon {
      display: none;
    }

    .pi-times-circle,
    .pi-times,
    .pi {
      color: $WHITE !important;
    }
  }
}
