// PRIMENG
// Buttons
.p-button {
  background: darken($HIGHLIGHT_COLOR, 15%) !important;
  font-family: $FONT_PRIMARY !important;
  border: 0 !important;
  font-size: 1.15rem !important;
  border-radius: 5px !important;
  outline: none !important;
  border: none !important;
  transition: 0.2s;
  padding: 0.5rem 3rem !important;

  &:focus {
    outline: 0 !important;
    box-shadow: 0 0 0 0 transparentize($BLACK, 1) !important;
  }

  &:hover {
    background-color: lighten(darken($HIGHLIGHT_COLOR, 15%), 10%) !important;
    transition: 0.2s;
  }

  @media (max-width: 767px) {
    max-width: 90%;
  }
}

.p-ink {
  background: transparentize($WHITE, 0.3) !important;
}

// Forms
.p-field {
  input,
  .p-dropdown,
  .p-inputtextarea {
    border: none;
    border-bottom: 1px solid $LIGHT_GRAY !important;
    color: $TEXT_COLOR !important;
    font-family: $FONT_PRIMARY !important;
    color: $BLACK;
    background-color: transparent;
    padding: 8px;
    height: 40px;
    min-width: 250px;
    outline: none;
    border-radius: 0;
    margin-bottom: 5px;

    &.ng-invalid.ng-touched {
      border-bottom: 1px solid $RED !important;
    }

    &::placeholder {
      color: darken($WHITE, 50%) !important;
    }

    &:focus,
    &:active {
      border-bottom: 1px solid $HIGHLIGHT_COLOR !important;
      box-shadow: none !important;
    }

    @media (max-width: 767px) {
      min-width: 80%;
    }
  }
}
