// PRIME NG
// Loaders
.p-progress-spinner-circle {
  stroke: $PRIMARY !important;
  z-index: 9999;
}

// Tooltip
.p-tooltip-left {
  padding-right: 2rem !important;
}

.p-tooltip-top,
.p-tooltip-bottom {
  padding: 1rem !important;
  text-align: center;
  width: max-content !important;
}

.p-tooltip {
  max-width: 250px !important;
  .p-tooltip-text {
    font-family: $FONT_PRIMARY;
    font-size: 1.3rem;
    background: transparentize($OFF_BLACK, 0.4) !important;
    border: 1px solid transparentize($GRAY_ONE, 0.8);
  }

  .p-tooltip-arrow {
    border: none !important;
  }
}

// Ripple
// .header-menu-items {
//   .p-ripple {
//     outline: none !important;
//   }
// }

// Menus
.p-menu {
  font-weight: 700 !important;
  font-family: $FONT_SECONDARY !important;
  padding: 0 !important;

  &.p-menu-overlay {
    background-color: $SECONDARY !important;
  }

  .p-menuitem-link {
    box-shadow: none !important;
    border: 1px solid $SECONDARY_PASTEL;
    transition: 0.2s;

    &:hover {
      transition: 0.2s;
      background-color: $SECONDARY_LIGHTEN !important;
    }

    .p-menuitem-text {
      color: $WHITE !important;
    }
  }
}

// Buttons
.p-button {
  background: $SECONDARY !important;
  font-family: $FONT_PRIMARY !important;
  border: 0 !important;
  font-size: 1.5rem !important;
  border-radius: 5px !important;
  outline: none !important;
  border: none !important;
  transition: 0.2s;
  padding: 0.5rem 4rem !important;

  &:focus {
    outline: 0 !important;
    box-shadow: 0 0 0 0 transparentize($BLACK, 1) !important;
  }

  &:hover {
    background-color: lighten($SECONDARY, 5%) !important;
    transition: 0.2s;
  }

  @media (max-width: 767px) {
    max-width: 90%;
  }
}

.p-ink {
  background: transparentize($GRAY_ONE, 0.3) !important;
}

// Forms
.p-field {
  .p-dropdown-label {
    position: relative;
    height: 40px;
    top: -6px;
    font-family: $FONT_SECONDARY !important;
  }

  .p-dropdown-item {
    font-family: $FONT_SECONDARY !important;

    &:hover {
      background-color: $SECONDARY_PASTEL !important;
    }

    &.p-highlight {
      background-color: $SECONDARY_PASTEL !important;
    }
  }

  .p-dropdown {
    &.p-focus {
      box-shadow: 2px 0px 10px 0 transparentize($BLACK, 0.2) !important;
    }
  }

  input,
  .p-dropdown,
  .p-inputtextarea {
    border: 1px solid $BLACK !important;
    font-family: $FONT_SECONDARY !important;
    color: $BLACK;
    background-color: $WHITE;
    padding: 8px;
    height: 40px;
    min-width: 250px;
    font-size: 1.2rem;
    outline: none;
    border-radius: 5px !important;
    margin: 0 0 1rem 0;

    &:focus,
    &:active {
      // background: transparentize($GRAY_ONE, 0.1);
      border: 1px solid $OFF_BLACK !important;
      box-shadow: 2px 0px 10px 0 transparentize($BLACK, 0.2) !important;
    }

    @media (max-width: 767px) {
      min-width: 80%;
    }
  }
}

// Toasts
.p-toast {
  .p-toast-message {
    z-index: 11 !important;
    font-family: $FONT_PRIMARY !important;

    &.p-toast-message-success {
      color: $WHITE !important;
      background-color: darken($GREEN, 13%) !important;
      border-left: none !important;
    }

    &.p-toast-message-error {
      color: $WHITE !important;
      background-color: transparentize($RED, 0.05) !important;
      border-left: none !important;
    }

    .p-toast-message-icon {
      display: none;
    }

    .pi-times-circle,
    .pi-times,
    .pi {
      color: $WHITE !important;
    }
  }
}

// Color picker
p-colorpicker {
  div {
    input {
      border: 0 !important;
      box-shadow: none !important;

      &:hover {
        box-shadow: 0px 0px 5px 0 transparentize($BLACK, 0.2) !important;
      }
    }
  }

  .p-colorpicker-panel {
    background: transparentize($OFF_BLACK, 0.7) !important;
    // border: 0 !important;
    // box-shadow: none !important;
  }
}

// Steps
p-steps {
  .p-steps-number {
    background-color: $SECONDARY_LIGHTEN !important;
    color: $WHITE !important;
    border: none !important;
  }

  .p-steps-item::before {
    content: none !important;
  }

  .p-menuitem-link {
    font-family: $FONT_PRIMARY;
    min-width: 150px;
    background-color: transparent !important;
    box-shadow: none !important;
  }

  .p-steps-title {
    color: $SECONDARY !important;
  }
}

// Chips

p-chips {
  height: 50px !important;
  width: 100% !important;
  border: none !important;

  div {
    height: 50px !important;
    width: 100% !important;

    ul {
      background-color: $GRAY_FIVE !important;
      border: none !important;
      height: 50px !important;
      width: 100% !important;
      padding: 0 !important;
      margin: 0 !important;

      .p-chips-token {
        background-color: $PRIMARY !important;
        color: $WHITE !important;
        font-family: $FONT_SECONDARY !important;
      }

      li {
        border: none !important;

        input {
          color: $BLACK !important;
          background-color: transparentize($GRAY_ONE, 0.2) !important;
          padding-left: 10px !important;
          font-size: 1.2rem !important;

          &:focus,
          &:active {
            background: transparentize($BLACK, 0.1);
            border: 2px solid $PRIMARY !important;
            box-shadow: none !important;
          }
        }
      }

      &.p-focus {
        background: transparentize($BLACK, 1);
        box-shadow: none !important;
      }
    }
  }

  &.p-inputwrapper-focus,
  :focus {
    box-shadow: none !important;
    border: none !important;
    outline: none !important;
  }
}

// Breadcrumbs
.p-breadcrumb {
  background: transparent !important;
  border: none !important;
  font-family: $FONT_SECONDARY !important;
  padding: 1rem 0 !important;

  a {
    box-shadow: none !important;
  }

  span,
  li {
    color: $SECONDARY !important;
  }

  @media (max-width: 767px) {
    display: flex;
    justify-content: center;
  }
}

// Table
.p-datatable {
  background: $GRAY_FIVE !important;

  th,
  td {
    font-family: $FONT_SECONDARY;
  }

  .p-datatable-thead {
    tr,
    th {
      background: $GRAY_FIVE !important;
      font-size: 1.2rem;
      color: $BROWN !important;
    }
  }

  .p-datatable-tbody {
    tr {
      &:first-child {
        td {
          &:first-child {
            border-top-left-radius: 10px !important;
          }

          &:last-child {
            border-top-right-radius: 10px !important;
          }
        }
      }

      &:last-child {
        td {
          &:first-child {
            border-bottom-left-radius: 10px !important;
          }

          &:last-child {
            border-bottom-right-radius: 10px !important;
          }
        }
      }
    }

    tr:focus {
      outline: none !important;
      border: none !important;
    }

    tr {
      background: $PRIMARY_PASTEL !important;
      color: $SECONDARY !important;
      transition: 0.2s !important;
      font-size: 1.1rem;

      &:hover {
        transition: 0.2s;
        background: darken($PRIMARY_PASTEL, 5%) !important;
      }
    }
  }
}

// Pagination
.p-paginator {
  background-color: transparentize($BLACK, 1) !important;

  button {
    color: $SECONDARY_DARKEN !important;
    margin: 0 0.75rem !important;
    transition: 0.2s !important;
    border-radius: 50% !important;

    &:hover {
      transition: 0.2s;
      background-color: $SECONDARY !important;
      color: $WHITE !important;
    }

    &.p-paginator-page {
      color: $BROWN !important;
      border: 1px solid $BROWN !important;
      font-weight: 700;

      &:hover {
        transition: 0.2s;
        background-color: $SECONDARY !important;
        border: 1px solid $SECONDARY !important;
        color: $WHITE !important;
      }
    }

    &.p-highlight {
      background-color: $SECONDARY !important;
      border: 1px solid $SECONDARY !important;
      color: $WHITE !important;
    }

    &:focus {
      outline: 0 !important;
      box-shadow: 0 0 0 0 transparentize($BLACK, 1) !important;
    }
  }

  // .p-paginator-first {
  //   display: none !important;
  // }

  // .p-paginator-last {
  //   display: none !important;
  // }
}

// Pop Confirm
.p-confirm-popup {
  button {
    color: $WHITE !important;
  }
}

// Grid
.grid,
.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-10,
.col-11,
.col-12 {
  margin: 0 !important;
  padding: 0 !important;
}
