$FONT_PRIMARY: "Montserrat", sans-serif;
$FONT_SIZE: 14px;
$XL_BREAKPOINT: 1200px;
$LG_BREAKPOINT: 992px;
$MD_BREAKPOINT: 768px;
$SM_BREAKPOINT: 576px;

$TEXT_COLOR_PRIMARY: #d3dadd;
$TEXT_COLOR_IMPORTANT: #d3dadd;

$SECONDARY_COLOR: #6fcff3;

$BG_COLOR: #252527;
$DARK_GRAY: #3a3b3b;
$LIGHT_GRAY: #969d9d;

$WHITE: #ffffff;
$BLACK: #000000;
$OFF_BLACK: #111111;
