$FONT_PRIMARY: "Jost", sans-serif;
$FONT_SECONDARY: "Jost", sans-serif;
$FONT_SIZE: 14px;
$XL_BREAKPOINT: 1200px;
$LG_BREAKPOINT: 992px;
$MD_BREAKPOINT: 768px;
$SM_BREAKPOINT: 576px;

$TEXT_PRIMARY: #111111;
$TEXT_MUTED: #666666;

$PRIMARY: #00aff0;
$PRIMARY_DARKEN: darken($PRIMARY, 5%);
$PRIMARY_LIGHTEN: lighten($PRIMARY, 5%);

$SECONDARY: #ff8ba5;
$SECONDARY_DARKEN: darken($SECONDARY, 5%);
$SECONDARY_LIGHTEN: lighten($SECONDARY, 5%);

$GRAY_ONE: #eee;
$GRAY_TWO: #ddd;

$WHITE: #ffffff;
$BLACK: #000000;
$OFF_BLACK: #111111;
$RED: red;
