@import "variables";

.layout {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: auto, 1fr;

  .content {
    padding-top: calc($HEADER_HEIGHT + 2rem);
    min-height: calc(100vh - $HEADER_HEIGHT);
    position: relative;
  }
}
