@import "variables";

.header {
  height: 80px;
  max-height: 80px;
  width: 100vw;
  background: $DARK_GRAY;
  padding: 10px;

  .header-left {
    display: flex;
    justify-content: center;
    align-items: center;

    i {
      cursor: pointer;
      font-size: 2rem;
    }
  }

  .header-center {
    .logo {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;
      padding: 0 10px;

      img {
        height: auto;
        width: auto;

        max-height: 60px;
        max-width: 100%;
        cursor: pointer;
      }
    }
  }
}

::ng-deep {
  .inner-header {
    display: grid;
    grid-template-columns: 50px 1fr 50px;
    grid-template-rows: 60px;
    padding: 0px !important;
  }
}
