@import "variables";
@import "mixins";

.calendar {
  width: $SM_BREAKPOINT;

  @media (max-width: $SM_BREAKPOINT) {
    max-width: 100%;
  }

  .calendar-title-row {
    display: grid;
    grid-template-columns: 50px 1fr 50px;
    grid-template-rows: auto;

    justify-items: center;
    align-items: center;
    padding-bottom: 2.5rem;

    i {
      @include actionable();
      @include color-transition($WHITE, $PRIMARY_COLOR);
      font-size: 1.75rem;
    }
  }

  .calendar-days {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: 2.5rem repeat(6, 4rem);

    width: 100%;
    height: 100%;

    .calendar-day-header-labels {
      padding: 0 10px 20px 10px;
      border-bottom: 2px solid $TEXT_COLOR;

      .calendar-day-header-label {
        display: flex;
        justify-content: center;
        color: $WHITE;

        font-weight: 500;
      }
    }

    .calendar-day-container {
      @include flex-center();
      @include actionable();

      &:hover {
        @include bg-transition(transparent, transparentize($DARK_GRAY, 0.75));
      }

      .calendar-day {
        display: inline-flex;
        justify-content: center;
        align-items: center;
        transition: 0.2s;
        border-radius: 50%;
        height: 30px;
        width: 30px;
      }

      &.not-current-month-calendar-day {
        .calendar-day {
          color: transparentize($TEXT_COLOR, 0.5);
        }
      }

      &.selected {
        .calendar-day {
          color: $WHITE;
          background: $PRIMARY_COLOR_DARK;
          transition: 0.2s;
        }
      }
    }
  }
}

.mood-list {
  position: relative;
  width: $SM_BREAKPOINT;
  padding: 2rem;
  max-width: 100%;
  min-height: 300px;
  transition: 0.2s;

  .no-data {
    @include flex-center();
    width: 100%;
  }

  .mood-list-bubble {
    width: 100%;
    margin: 1rem 0.5rem;
    padding: 1rem;
    background: $DARK_GRAY_3;
    border-radius: 25px;

    .mood-list-bubble-header {
      display: flex;
      justify-content: space-between;
      padding-bottom: 0.25rem;

      .mood-list-bubble-actions {
        i {
          @include actionable();
          font-size: 1.5rem;
          margin-right: 4px;

          &:hover {
            @include color-transition($WHITE, $PRIMARY_COLOR);
          }
        }
      }
      .mood-list-bubble-date-time {
        display: flex;
        justify-content: flex-end;
        font-size: 0.9rem;
      }
    }

    .mood-list-bubble-entry {
      padding: 2rem 0;
    }

    .mood-list-bubble-footer {
      padding-top: 0.25rem;

      .mood-list-bubble-footer-score {
        display: flex;
        align-items: center;
        flex-wrap: wrap;

        .mood-score-container {
          display: flex;
          align-items: center;

          .mood-score {
            @include flex-center();
            flex-direction: column;
            padding: 0.5rem 0.2rem;

            .mood-score-bubble {
              @include flex-center();
              background: $DARK_GRAY_2;
              border-radius: 50%;
              width: 15px;
              height: 15px;

              @media (max-width: $SM_BREAKPOINT) {
                width: 10px;
                height: 10px;
              }

              &.active {
                background: $PRIMARY_COLOR_DARK;
                transition: 0.2s;
              }
            }
          }
        }
      }
    }
  }
}

::ng-deep {
  .mood-list-bubble {
    .mood-list-bubble-entry {
      ul,
      ol {
        padding-left: 1.5rem;
      }

      .ql-align-center {
        text-align: center;
      }

      .ql-align-right {
        text-align: right;
      }
    }
  }
}
