<mood-container wrapperClasses="flex-center flex-column">
  <!-- Start Calendar -->
  <section class="calendar" *ngIf="calendarMonth">
    <!-- Start Calendar Title -->
    <div class="calendar-title-row">
      <i
        class="las la-angle-left"
        (click)="selectMonth(selectedMonthIndex - 1); selectDay({})"
      ></i>

      <h3>{{ calendarMonth.monthName }} {{ calendarMonth.yearNumber }}</h3>

      <i
        class="las la-angle-right"
        (click)="selectMonth(selectedMonthIndex + 1); selectDay({})"
      ></i>
    </div>
    <!-- End Calendar Title -->

    <!-- Start Calendar Days -->
    <div class="calendar-days">
      <div
        class="calendar-day-header-labels"
        *ngFor="let headerLabel of weekdayHeaderLabels"
      >
        <div class="calendar-day-header-label">
          {{ headerLabel }}
        </div>
      </div>

      <div
        class="calendar-day-container"
        *ngFor="let day of calendarMonth.days; let i = index"
        [ngClass]="{
          'not-current-month-calendar-day': day.monthPosition !== 'current',
          selected: i === selectedDayIndex,
          'current-date': isDateCurrentDate(day)
        }"
        (click)="selectDay({ day })"
        pRipple
      >
        <div class="calendar-day">
          {{ day.dayNumber }}
        </div>
      </div>
    </div>
    <!-- End Calendar Days -->

    <ng-container *ngIf="!searchTriggered; else searchResults">
      <h3 class="mt-6">{{ selectedDayObj?.format("MMM DD, YYYY") }}</h3>
      <div class="flex-center mt-2">
        Avg. Score: {{ averageMoodScoreForDay || "--" }}
      </div>
    </ng-container>
    <ng-template #searchResults>
      <h3 class="mt-6">Search Results</h3>
    </ng-template>

    <!-- Start Add Mood Button -->
    <section class="my-4 w-full flex-center">
      <button
        pButton
        type="button"
        label="Log your mood!"
        routerLink="/entry"
        pRipple
      ></button>
    </section>
    <!-- End Add Mood Button -->
  </section>
  <!-- End Calendar -->

  <!-- Start Mood List -->
  <section class="mood-list">
    <!-- Start Mood List Loader -->
    <mood-load-spinner
      [loading]="isListLoading"
      positionStyle="absolute"
      size="sm"
    ></mood-load-spinner>
    <!-- End Mood List Loader -->

    <ng-container *ngIf="data?.length; else noData">
      <!-- Start Journal Entry Bubbles -->
      <div class="mood-list-bubble" *ngFor="let journalEntry of data">
        <!-- Start Journal Entry Header -->
        <div class="mood-list-bubble-header">
          <div class="mood-list-bubble-actions">
            <i
              class="las la-edit"
              pTooltip="Edit Entry"
              routerLink="/entry/{{ journalEntry.uid }}"
            ></i>
            <i
              class="las la-trash-alt"
              pTooltip="Delete Entry"
              (click)="confirmDeleteEntry($event, journalEntry)"
            ></i>
            <p-confirmPopup></p-confirmPopup>
          </div>

          <div class="mood-list-bubble-date-time">
            {{
              isEntryCurrentDate(journalEntry.entryAt)
                ? "Today"
                : (journalEntry.entryAt | date : "MMM dd")
            }}
            at {{ journalEntry.entryAt | date : "hh:mm a" }}
          </div>
        </div>
        <!-- End Journal Entry Header -->

        <!-- Start Journal Entry -->
        <div
          class="mood-list-bubble-entry"
          *ngIf="journalEntry.entry"
          [innerHTML]="journalEntry.entry | safe : 'html'"
        ></div>
        <!-- End Journal Entry -->

        <!-- Start Journal Footer -->
        <div class="mood-list-bubble-footer">
          <div *ngIf="journalEntry.mood" class="mb-1">
            Feeling: {{ journalEntry.mood }}
          </div>

          <div class="mood-list-bubble-footer-score">
            <span class="mr-2">Mood Score:</span>

            <div class="mood-score-container">
              <div
                *ngFor="let bubble of [].constructor(10); let i = index"
                class="mood-score"
              >
                <div
                  class="mood-score-bubble"
                  [ngClass]="{
                    active: i + 1 <= journalEntry.score
                  }"
                ></div>
              </div>
            </div>
          </div>
        </div>
        <!-- End Journal Footer -->
      </div>
      <!-- Start Journal Entry Bubbles -->
    </ng-container>
    <ng-template #noData>
      <div class="no-data" *ngIf="!isListLoading">No entries found</div>
    </ng-template>
  </section>
  <!-- End Mood List -->

  <div class="search-btn-container">
    <div
      class="search-btn"
      (click)="
        isSearchMode = !isSearchMode; !isSearchMode ? clearSearch() : null
      "
      [pTooltip]="isSearchMode ? 'Clear Search' : 'Search Moods'"
      pRipple
    >
      <i
        class="las"
        [ngClass]="{
          'la-search': !isSearchMode,
          'la-times': isSearchMode
        }"
      ></i>
    </div>
    <div
      class="search-input p-field"
      [@transformOriginX]="isSearchMode ? 'show' : 'hide'"
    >
      <input
        type="text"
        [(ngModel)]="dynamicFilters.textFilter.value"
        pInputText
        placeholder="Search moods"
        (keyup.enter)="triggerSearch()"
      />
    </div>
  </div>
</mood-container>
