@import "variables";
@import "mixins";

.calendar {
  width: $SM_BREAKPOINT;

  @media (max-width: $SM_BREAKPOINT) {
    max-width: 100%;
  }

  .calendar-title-row {
    display: grid;
    grid-template-columns: 50px 1fr 50px;
    grid-template-rows: auto;

    justify-items: center;
    align-items: center;
    padding-bottom: 2.5rem;

    i {
      @include actionable();
      @include color-transition($WHITE, $PRIMARY_COLOR);
      font-size: 1.75rem;
    }
  }

  .calendar-days {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: 2.5rem repeat(6, 4rem);

    width: 100%;
    height: 100%;

    .calendar-day-header-labels {
      padding: 0 10px 20px 10px;
      border-bottom: 2px solid $TEXT_COLOR;

      .calendar-day-header-label {
        display: flex;
        justify-content: center;
        color: $WHITE;

        font-weight: 500;
      }
    }

    .calendar-day-container {
      @include flex-center();
      @include actionable();

      &:hover {
        @include bg-transition(transparent, transparentize($DARK_GRAY, 0.75));
      }

      .calendar-day {
        display: inline-flex;
        justify-content: center;
        align-items: center;
        transition: 0.2s;
        border-radius: 50%;
        height: 30px;
        width: 30px;
      }

      &.not-current-month-calendar-day {
        .calendar-day {
          color: transparentize($TEXT_COLOR, 0.5);
        }
      }

      &.selected {
        .calendar-day {
          color: $WHITE;
          background: $PRIMARY_COLOR_DARK;
          transition: 0.2s;
        }
      }
    }
  }
}
