<mood-container wrapperClasses="flex-center flex-column">
  <main class="entry-container">
    <h2>What is your current mood?</h2>

    <!-- Start Mood Score Selection -->
    <h3 class="mt-6">Mood score</h3>
    <section class="mood-score-container">
      <div
        *ngFor="let bubble of [].constructor(10); let i = index"
        class="mood-score"
      >
        <div
          class="mood-score-bubble"
          [ngClass]="{
            active:
              hoveredScore && hoveredScore > journalEntry.score
                ? i + 1 <= hoveredScore
                : i + 1 <= journalEntry.score
          }"
          (click)="journalEntry.score = i + 1"
          (mouseenter)="hoveredScore = i"
          (mouseleave)="hoveredScore = null"
          pRipple
        ></div>
        {{ i + 1 }}
      </div>
    </section>
    <!-- End Mood Score Selection -->

    <hr />

    <!-- Start Mood Selection -->
    <div class="moods-header">
      <div></div>
      <h3>How are you feeling? (Optional)</h3>
      <i
        class="las la-plus"
        pTooltip="Add your own"
        tooltipPosition="left"
        *ngIf="!showAddPresetMoodInput"
        (click)="showAddPresetMoodInput = true"
      ></i>
    </div>

    <section class="moods-container">
      <div class="moods">
        <div
          *ngFor="let presetMood of presetMoods"
          class="mood"
          (click)="journalEntry.mood = presetMood"
          [ngClass]="{ active: journalEntry.mood === presetMood }"
          pRipple
        >
          {{ presetMood }}
        </div>
      </div>

      <div class="add-mood-container p-field" *ngIf="showAddPresetMoodInput">
        <input
          type="text"
          pInputText
          autocomplete="off"
          placeholder="Add a custom mood"
          [(ngModel)]="customPresetMood"
          (keyup.enter)="submitCustomMood()"
        />

        <div>
          <button
            pButton
            type="button"
            label="Add"
            class="sm"
            pRipple
            (click)="submitCustomMood()"
          ></button>
          <button
            pButton
            type="button"
            label="Cancel"
            class="sm"
            pRipple
            (click)="showAddPresetMoodInput = false"
          ></button>
        </div>
      </div>
    </section>
    <!-- End Mood Selection -->

    <hr />

    <!-- Start Journal Entry -->
    <h3>Add to your journal (Optional)</h3>

    <section class="journal-entry-container">
      <p-editor
        (onInit)="onEditorCreated($event)"
        [(ngModel)]="journalEntry.entry"
        [style]="{ height: '320px' }"
      >
      </p-editor>
    </section>
    <!-- End Journal Entry -->

    <!-- Start Actions -->
    <section class="mt-6 w-full flex-center">
      <button
        pButton
        type="button"
        label="Save"
        [loading]="isSubmitting"
        (click)="submit()"
        pRipple
      ></button>
    </section>
    <!-- End Actions -->
  </main>
</mood-container>
